.bg{
  background: #1a1a1a url("../src/sky.jpg") no-repeat center;
  width: 100%;
}

.default-padding{
  padding: 3%;
}

body{
  color: white;
  font-family:sans-serif;
}

.rotateleft{
  font: bold 120% Sans-Serif;
  letter-spacing: 102%;
  text-transform: uppercase;
  background: #8366b4;
  color: #fff;
  padding: 1.5% 2%;
  margin: 0 0 15px 0;
  line-height: 34px;
  transform-origin: 10% 30%;
  transform: rotate(-90deg);
  transition-property: line-height;
  transition-delay: 300ms;
}
.rotateleft:hover{
  line-height: 45px;
}
.maintext{
  font-size: 250%;
  font-variant: small-caps;
  text-align: center;
  margin-top: 5%;
  margin-right: 20%;
}
.textCursive{
  font-size: 300%;
  text-align: center;
  font-family: cursive;
}
.headerside{
  background-color: #5361b5;
  border: 5px solid #ffffff;
  font-size: 150%;
  margin-left: 60%;
  margin-right: -3%;
  padding: 1%;
  padding-top: 4%;
}
.asidenav{
  display: block;
  padding: 1%;
  text-decoration: none;
  font-size: 120%;
  color: #fff;
}
