.bg{
  background-color: black;
}

h1,p,section,ul,a{
  color: white;
  font-family:sans-serif;
}

h1{
  font-size: 24px;
  font-family: sans-serif;
  font-variant: small-caps;
  text-shadow: 0 0 1em white, 0 0 0.5em blue;
  text-align: center;
  padding: 3%;
}

h2{
  padding-top: 3%;
}

nav{
  color: #0000ff;
}

a{
  text-decoration: none;
  margin-left: 5%;
  margin-right: 5%;
  padding: 10px;
  padding-left: 14px;
  padding-right: 14px;
}

img{
  border: 5px solid;
  border-color: white;
  padding: 10px;
}

.neon{
  display: inline-block;
  cursor: pointer;
  border: 4px solid;
  border-radius: 0.5em;
  text-decoration: none;
  text-shadow: 0 0 0.5em white;
  box-shadow: 0 0 1em white, inset 0 0 0.7em white;
  position: relative;

  transition: background-color 200ms linear;
}
.neon::before{
  content: "";
  position: absolute;
  pointer-events: none;

  background: white;
  top: 105%;
  left: 0%;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7em;

}

.neon::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 2em 0.5em white;
  opacity: 0;
  transition-delay: opacity 500ms linear;
}

.neon:hover,.neon:focus{
  background: white;
  color: black;
  box-shadow: 0 0 1.5em white;
  text-shadow: none;
}

.neon:hover::before{
  opacity: 1;
}
